form {
  display: flex;
  width: 75%;
  margin: 40px auto 0 auto;
  background: #fff;
  height: 80vh;
  div {
    width: 50%;
  }
  .left_container_form div {
    width: 100%;
  }
  .left_container_form {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 22% 22% 36% 20%;
    grid-template-areas:
      "iName"
      "iEmail"
      "iMessage"
      "iSubmit";
    .iName {
      grid-template-areas: "iName";
    }
    .iEmail {
      grid-template-areas: "iEmail";
    }
    .iMessage {
      grid-template-areas: "iMessage";
    }
    .iSubmit {
      grid-template-areas: "iSubmit";
    }
    .iName,
    .iEmail,
    .iMessage {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
    }
  }
  .rigth_container_form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    div:not(.fdiv4) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      width: 100%;
    }
    .fdiv4 {
      width: 100%;
    }
  }
}
