form{
    display: flex;
    width: 75%;
    margin: 40px  auto 0 auto;
    background: #fff;
    height: 60vh;
    div{
        width: 50%;
    }
    .left_container_form{
        border-right: 1px solid rgba(0, 0, 0, 0.25);
    }
    .rigth_container_form{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        div{
            border-bottom: 1px solid rgba(0, 0, 0, 0.25);
            width: 100%;
        }
    }

}