header {
  height: 100vh;
  position: relative;
  h1 {
    text-align: center;
    height: 33vh;
    width: 60%;
    margin: 0 auto;
    font-size: 5rem;
    display: flex;
    align-items: center;
    color: var(--color2);
    text-transform: uppercase;
    transform: translateY(150px);
  }
  p {
    font-size: 1.4rem;
    font-style: italic;
    font-family: "Merriweather", sans-serif;
    text-align: center;
    color: white;
    transform: translateY(120px);
  }
  .fa-regular {
    font-size: 5rem;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: #fff;
  }
  nav {
    height: 84px;
    width: 75%;
    background: rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    div:first-child {
      width: 44%;
      display: flex;
      align-items: center;
      justify-content: center;
      ul {
        height: 100%;
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        color: rgba(255, 255, 255, 0.95);
        text-transform: uppercase;
        font-size: 0.9rem;
        li:hover {
          background: #fff;
          color: black;
          transition: 0.3s;
        }
        li {
          cursor: pointer;
          letter-spacing: 2px;
          height: 100%;
          width: 33%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
        }
      }
    }
    div:last-child {
      width: 27%;
      position: relative;
      ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        color: #fff;
        li {
          font-size: 2rem;
          i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
          }
        }
      }
    }
  }
}
