header {
  height: 100vh;
  h1 {
    text-align: center;
    height: 33vh;
    width: 60%;
    margin: 200px auto 0 auto;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color2);
    text-transform: uppercase;
  }
}
