@media screen and (max-width: 700px) {
  body {
    header {
      h1 {
        font-size: 2.5rem;
        width: 100%;
      }
      p {
        font-size: 1rem;
        width: 75%;
        margin: 0 auto;
      }
      .fa-regular {
        font-size: 4rem;
        font-weight: lighter;
      }
      nav {
        div:last-child {
          display: none;
        }
        div:first-child {
          width: 100%;
          ul {
            li {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
  .section1 {
    .date-s1::before {
      transform: translateX(-100px);
    }
    .date-s1::after {
      transform: translateX(-35px);
    }
    .date-s1 {
      width: 100%;

      p {
        width: 100%;
      }
    }
    .title-s1 {
      h2 {
        width: 100%;
        font-size: 2rem;
      }
    }
    .text-s1 {
      p {
        font-size: 0.9rem;
      }
    }
    div:last-child {
      .button {
        margin: 45px;
        padding: 10px 30px;
        font-size: 0.8rem;
      }
    }
  }
  .section2 {
    display: block;
    div {
      width: 100%;
    }
  }
  form {
    display: block;
    height: 90vh;
    .left_container_form {
      width: 100%;
      height: 50%;
      #submitButton {
        font-size: 0.6rem;
      }
    }
    .rigth_container_form {
      width: 100%;
      height: 50%;
      div {
        p:last-child {
          width: 75%;
          font-size: 0.8rem;
        }
      }
      .fdiv1 {
        border-top: 1px solid rgba(0, 0, 0, 0.25);
      }
      .fdiv4 {
        ul {
          li {
            font-size: 0.8rem;
            margin: 0 10px 0 0;
            padding: 8px;
          }
        }
      }
    }
  }
}
